{% extends 'blog/base.html' %}

{% block content %}
    <form action="{% url 'grid:grid' %}" method="post">
    {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <p><span id='result'></span></p>
        <button type="button" id='calculate'>提交</button>
    </form>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $(function(){
        $("#calculate").click(function(){
            var total_money = $("#id_total_money").val();
            var start_price = $("#id_start_price").val();
            var stop_price = $("#id_stop_price").val();
            var interval = $("#id_interval").val();
            var increment = $("#id_increment").val();
            var content = {'total_money':total_money,'start_price':start_price,'stop_price':stop_price,'interval':interval,'increment':increment};
            $.post("{% url 'grid:grid' %}", content, function(ret){
                var ret = eval(ret);
                var html = "<table border=1><tr><td>价格</td><td>金额</td><td>股数</td><td>手数</td></tr>";
                for(var i=0;i<ret.length;i++){
                    html += '<tr><td>'+ret[i][0]+'</td><td>'+ret[i][1]+'</td><td>'+ret[i][2]+'</td><td>'+ret[i][3]+'</td></tr>';
                }
                html +='</table>';
                $('#result').html(html);
            });
        });
        });
    </script>
{% endblock %}
